img{
    width: 140px;
    height: auto;
}
main{
    font-size: 125%;
    display: flex;
    flex-direction: column;
    flex-basis: 90vw;
    align-items: center;
    padding: 2rem;
}
body{
    background-color: #ffeda5; 
    color: #a0540a;
}
.flex{
    display: flex;
    gap: 2rem;
}
section{
    text-align: center;
}
section span{
    text-decoration: underline;
}
button{
    cursor: pointer;
    border: none;
}
#reset {
    background-color: white;
    color: #a0540a;
}